*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 56px;
}

.content{
    font-family: 'Potta One', cursive;
}

.container{
    /* background-color: red; */
    width: 60vw;
    margin: auto;
    padding: 32px 0;
    font-family: 'Roboto', sans-serif;
    /* font-weight: bold; */
}

.container h1, .container h2{
    padding: 3px;
}

p{
    padding: 12px 0px;
    font-size: 18px;
}

.big{
    font-size: 20px;
    font-weight: bold;
    /* padding: 20px; */
}

.big p{
    font-size: 18px;
    font-weight: normal;
}

/* Change size of copy box */
.code-toolbar{
    font-size: 14px;
}

ol{
    list-style: none;
}

.logo{
    padding: 0 23px;
}

.logo img{
    width: 32px;
    border: 2px solid white;
    border-radius: 20%;
    margin: 0 12px;
    padding: 5px;
    background-color: white;
}

/* This is For copy section */
.toolbar-item button{
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 10px !important;
    /* background: greenyellow !important; */
    padding: 5px 12px !important;
}

.copyright{
    hyphens: 100px;
}